.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

.profile {
  text-align: center;
  display: inline-block;
  margin: 0 10px;
}

body {
  background-color: antiquewhite;
}

h1 {
  margin: 30px;
  font-family: 'Indie Flower', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #00cc8f;
}

p {
  font-size: 3rem;
  color: #00cc8f;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 70%;
}

footer {
  margin-top: 5%;
  color: crimson;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
